PropertyService/PropertyClient/Connected Services/ServiceReference1/PropertyService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PropertyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60533/PropertyService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60533/PropertyService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60533/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPropertyService_SearchPropertyByPostCode_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPropertyByPostCode" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_SearchPropertyByPostCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPropertyByPostCodeResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_EnterNewProperty_InputMessage">
    <wsdl:part name="parameters" element="tns:EnterNewProperty" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_EnterNewProperty_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnterNewPropertyResponse" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllPropertiesForStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesForStudents" />
  </wsdl:message>
  <wsdl:message name="IPropertyService_GetAllPropertiesForStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllPropertiesForStudentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IPropertyService">
    <wsdl:operation name="SearchPropertyByPostCode">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/SearchPropertyByPostCode" message="tns:IPropertyService_SearchPropertyByPostCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/SearchPropertyByPostCodeResponse" message="tns:IPropertyService_SearchPropertyByPostCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnterNewProperty">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/EnterNewProperty" message="tns:IPropertyService_EnterNewProperty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/EnterNewPropertyResponse" message="tns:IPropertyService_EnterNewProperty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesForStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IPropertyService/GetAllPropertiesForStudents" message="tns:IPropertyService_GetAllPropertiesForStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPropertyService/GetAllPropertiesForStudentsResponse" message="tns:IPropertyService_GetAllPropertiesForStudents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPropertyService" type="tns:IPropertyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchPropertyByPostCode">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/SearchPropertyByPostCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterNewProperty">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/EnterNewProperty" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPropertiesForStudents">
      <soap:operation soapAction="http://tempuri.org/IPropertyService/GetAllPropertiesForStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PropertyService">
    <wsdl:port name="BasicHttpBinding_IPropertyService" binding="tns:BasicHttpBinding_IPropertyService">
      <soap:address location="http://localhost:60533/PropertyService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>