PropertyService/PropertyClient/Connected Services/ServiceReference1/PropertyService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60533/PropertyService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PropertyService" />
  <xs:element name="SearchPropertyByPostCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="postCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchPropertyByPostCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="SearchPropertyByPostCodeResult" nillable="true" type="q1:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterNewProperty">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="p" nillable="true" type="q2:Property" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnterNewPropertyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnterNewPropertyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPropertiesForStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPropertiesForStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/PropertyService" minOccurs="0" name="GetAllPropertiesForStudentsResult" nillable="true" type="q3:ArrayOfProperty" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>