PropertyService/PropertyClient/Connected Services/ServiceReference1/PropertyService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PropertyService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PropertyService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProperty">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Property" nillable="true" type="tns:Property" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProperty" nillable="true" type="tns:ArrayOfProperty" />
  <xs:complexType name="Property">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Children_allowed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentStatus" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsAvailable" type="xs:boolean" />
      <xs:element minOccurs="0" name="LeaseArrDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxNoOfOccupancy" type="xs:int" />
      <xs:element minOccurs="0" name="MultipleOccupancy" type="xs:boolean" />
      <xs:element minOccurs="0" name="Pets_allowed" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyID" type="xs:int" />
      <xs:element minOccurs="0" name="PropertyName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PropertyType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResidentStatus" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Property" nillable="true" type="tns:Property" />
</xs:schema>